# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [114]:
import pandas as pd

In [115]:
data = pd.read_csv('athlete events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [266]:
Olympics_1988_M=data[(data['Year']==1988) & (data['Sex']== 'M')]
df_M = pd.DataFrame(Olympics_1988_M)
df_M['Age'].min()

12.0

In [267]:
Olympics_1988_F=data[(data['Year']==1988) & (data['Sex']== 'F')]
df_F = pd.DataFrame(Olympics_1988_F)
df_F['Age'].min()

11.0

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [268]:
percentage_f_2012 = data[(data['Sex']=='F')].groupby('Year')['Name'].nunique().reset_index(name='Count')
percentage_f_2012['Percent'] = ((percentage_f_2012['Count'] / 
                  percentage_f_2012['Count'].sum()) * 100).round(1)

percentage = percentage_f_2012[(percentage_f_2012['Year']==2012)]
percentage[['Year', 'Percent']]

    Year  Percent
31  2012      9.5

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [269]:
min_Height=data[(data['Year']==1988) & (data['Sex']== 'F') & (data['Sport']== 'Tennis')]
min_Height['Height'].min().round(1)

160.0

In [270]:
max_Height=data[(data['Year']==1988) & (data['Sex']== 'F') & (data['Sport']== 'Tennis')]
max_Height['Height'].max().round(1)

190.0

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [271]:
year_1988=data[(data['Year']==1988)]
max_Weight = year_1988[year_1988.Weight == year_1988.Weight.max()]
max_Weight[['Sport']]

                Sport
270643  Weightlifting

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [186]:
data[(data['Name']=='John Aalberg')].groupby('Year')['Name'].count().reset_index(name='Count')

   Year  Count
0  1992      4
1  1994      4

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [194]:
data[(data['Name']=='John Aalberg') 
     & (data['City']=='Albertville')].groupby('Name')['Event'].count().reset_index(name='Count of Events')

           Name  Count of Events
0  John Aalberg                4

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [201]:
data[(data['Year']==2012) & (data['Team']=='Belarus') 
     & (data['Medal']=='Gold')].groupby('Team')['Medal'].count().reset_index(name='Count of Medals')

      Team  Count of Medals
0  Belarus                3

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [237]:
Spain = data[(data['Year']==2016) & (data['Team']=='Spain') ].groupby('Team')['Medal'].count().reset_index(name='Count')
Italy = data[(data['Year']==2016) & (data['Team']=='Italy') ].groupby('Team')['Medal'].count().reset_index(name='Count')

import numpy as np

np.where (Spain['Count'] - Italy['Count'] < 0, 'True', 'False')

array(['True'], dtype='<U5')

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [265]:
unq_sports_1988 = data[(data['Year']==1988)].value_counts('Sport').nunique()
unq_sports_2002 = data[(data['Year']==2002)].value_counts('Sport').nunique()

abs(unq_sports_2002-unq_sports_1988)

22

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [206]:
test = data.groupby('Team')['Medal'].count().reset_index(name='Count')
test[test.Count == test.Count.max()]

               Team  Count
1095  United States   5219